@media (max-width: 600px) {
  .heade-line {
    padding: 1rem 1.5rem;
  }
}
@media (max-width: 720px) {
  .perfil-e-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sobre-mim, p{
    display: none;
  }
}